<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <nav class="page-header">
    <div class="container">
      <img src="http://media.istockphoto.com/photos/red-wine-bottle-wine-glass-bowl-with-corks-and-corkscrew-picture-id478655150?k=6&m=478655150&s=612x612&w=0&h=ALrmRN4CEX-i-u7Ft13iYkXG7JvHJka5TROVQl_XIL8=" class="img-responsive">
    </div>
  </nav>
  <header>
    <nav class="page-header">
      <h1>Edit Post</h1>
    </nav>
    <nav class="navbar navbar-inverse">
      <a href="/" class="btn btn-default" role="button">Home</a>
      <a href="/posts" class="btn btn-default" role="button">All Posts</a>
      <a href="/wines" class="btn btn-default" role="button">Wine List</a>
      <a href="/posts/new" class="btn btn-default" role="button">Create Post</a>
      <a href="/sessions/logout" class="btn btn-default">Logout</a>
    </nav>

  </header>
  <main>
    <h2>Edit This Post</h2>
    <form action="/posts/<%=post._id%>?_method=PUT" method="POST"> <br>
      <select name="wineId">
        <% for(let i = 0; i < wine.length; i++) { %>
          <option value="<%=wine[i]._id%>" =
          <% if(wine[i]._id.toString() === postWine._id.toString()){ %>
            selected
            <% } %>
            >
            <%=wine[i].name%>
            </option> =
            <% } %>
          </select><br>
          <input type="text" name="name" value="<%=post.name%>" /> <br>
          <input type="url" name="image" value="url"><br>
          <textarea name="about"><%=post.about%></textarea><br>
          <input type="submit" value="Update Post">
        </form>
      </main>
      <% include ../partials/footer.ejs %>
    </body>

    </html>
