<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <nav class="page-header">
    <div class="container">
      <img src="http://media.istockphoto.com/photos/red-wine-bottle-wine-glass-bowl-with-corks-and-corkscrew-picture-id478655150?k=6&m=478655150&s=612x612&w=0&h=ALrmRN4CEX-i-u7Ft13iYkXG7JvHJka5TROVQl_XIL8=" class="img-responsive">
    </div>
  </nav>
  <header>
    <nav class="page-header">
      <h1>Wine About It <br><small>Here</small></h1>
    </nav>
    <nav class="navbar navbar-inverse">
      <a href="/" class="btn btn-default" role="button">Home</a>
      <a href="/posts" class="btn btn-default" role="button">All Posts</a>
      <a href="/wines" class="btn btn-default" role="button">Wine List</a>
      <a href="/posts/new" class="btn btn-default" role="button">Create Post</a>
      <a href="/sessions/logout" class="btn btn-default">Logout</a>
    </nav>
  </header>
  <main>
    <div class="new">

      <% if(userSession.username){ %>
        <form action="/posts" method="POST">
        <select name="wineId" class="select">
        <% for(let i = 0; i < wines.length; i++) { %>
          <option value="<%=wines[i]._id%>">
          <%=wines[i].name%>
          </option>
          <% } %>
          </select><br>

          <div class="input-group">
          <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
          </span>
          Wino: <%=userSession.username%>
          </div>

          <div class="input-group">
          <span class="input-group-addon">
          <span class="glyphicon glyphicon-glass"></span>
          </span>
          <input type="url" class="form-control" name="image" placeholder="Image URL"> <br>
          </div>

          <div class="input-group">
          <span class="input-group-addon">
          <span class="glyphicon glyphicon-pencil"></span>
          </span>
          <input class="form-control" type="text" name="about" placeholder="What did you think about this wine?"> <br>
          </div>

          <div class="input-group">
          <span class="input-group-addon">
          <span class="glyphicon glyphicon-upload"></span>
          </span>
          <input type="submit" class="form-control" value="Post"> <br>
          </div>
          </div>
          </form>

          <%  } else { %>

            <select name="wineId" class="select">
            <% for(let i = 0; i < wines.length; i++) { %>
              <option value="<%=wines[i]._id%>">
              <%=wines[i].name%>
              </option>
              <% } %>
              </select><br>

              <div class="input-group">
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
              </span>
              <input class="form-control" type="text" name="name"><br>
              </div>

              <div class="input-group">
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-glass"></span>
              </span>
              <input type="url" class="form-control" name="image" placeholder="Image URL"> <br>
              </div>

              <div class="input-group">
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-pencil"></span>
              </span>
              <input class="form-control" type="text" name="about" placeholder="What did you think about this wine?"> <br>
              </div>

              <div class="input-group">
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-upload"></span>
              </span>
              <input class="form-control" type="submit"  value="Post"> <br>
              </div>
              </div>
              </form>


              <%  } %>

            </div>
          </main>
          <% include ../partials/footer.ejs %>
        </body>
        </html>
