<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <a class="logout" href="/sessions/logout">Logout</a>
      <h1>About this Post</h1>
      <%=wine.name%><br>
      <img src="<%=wine.image%>" alt="<%=wine.image%>" /><br>
      <%=wine.about%><br>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/posts">All Posts</a>
          </li>
          <li>
              <a href="/wines">Back to Wine List</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Posts about <%=wine.name%></h2>
        <p>
          <%=post.name%> <br>
        </p>
        <img src="<%=post.image%>"/><br>
        <p>
          <%=post.about%> <br>
        </p>
      </section>
      <section>
        <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete this Post">
        </form>
      </section>
      <section>
        <a href="/posts/<%=post._id%>/edit">Edit this post</a>
      </section>
    </main>
      <% include ../partials/footer.ejs %>
  </body>
</html>
