<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wine Show</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  </head>
  <body>
    <header>
      <a class="logout" href="/sessions/logout">Logout</a>
        <h1>Wine About It - This Wine</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/wines">Wine List</a>
                </li>
                <li>
                    <a href="/posts">See all Wino Posts</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Posts About <%=wine.name%>
            </h2>
            <img src="<%=wine.image%>" alt="<%=wine.name%>" />
            <p>
                <%=wine.about%>
            </p>

            <ul>
              <% for(let i = 0; i < wine.posts.length; i++) { %>
								<li>
                  <p>Username: <%=wine.posts[i].name%></p>
                  <a href="/posts/<%=wine.posts[i].id%>">
                    <img src="<%=wine.posts[i].image%>"/>
                  </a>
                  <p>
                    <a href="/posts/<%=wine.posts[i].id%>">
                      About this Wine:
                    </a>
                    <%=wine.posts[i].about%>
                  </p>
                  <a href="/posts/<%=wine.posts[i]._id%>/edit">Edit Posts</a>
                  <form action="/posts/<%=wine.posts[i]._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Post">
                  </form>
								</li>
							<% } %>
            </ul>

        </section>

    </main>
  </body>
</html>
