<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>

</head>
<body>
  <nav class="page-header">
    <div class="container">
      <img src="http://media.istockphoto.com/photos/red-wine-bottle-wine-glass-bowl-with-corks-and-corkscrew-picture-id478655150?k=6&m=478655150&s=612x612&w=0&h=ALrmRN4CEX-i-u7Ft13iYkXG7JvHJka5TROVQl_XIL8=" class="img-responsive">
    </div>
  </nav>
  <header>
    <div class="page-header">
      <h1>Wine About <%=wine.name%></h1>
    </div>
    <nav class="navbar navbar-inverse">
      <a href="/" class="btn btn-default" role="button">Home</a>
      <a href="/posts" class="btn btn-default" role="button">All Posts</a>
      <a href="/wines" class="btn btn-default" role="button">Wine List</a>
      <a href="/posts/new" class="btn btn-default" role="button">Create Post</a>
      <a href="/sessions/logout" class="btn btn-default">Logout</a>
    </nav>
  </header>
  <main>
    <section>
<%# BEGINNING OF SEED DATA      %>
    <div class="jumbotron jseed">
      <div class="container seed">
        <h2 id="thisWine" style="text-align: center;">About <%=wine.name%>
        </h2>
        <br>
        <%# <div class="col-sm-3 col-md-3 col-xs-3">%>
            <div class="thumbnail seedImg" id="test">
              <%# <div class="col-sm-6 col-md-6 col-xs-12 image-container">%>
                <img class="seedImg" src="<%=wine.image%>" alt="<%=wine.name%>"/>
              <%# </div>%>
            </div>
            <br>
          <%# </div>%>
        </div>
      <div class="seedData">
        <%# <div class="col-sm-3 col-md-3 col-xs-3">%>

                <p class="seedText">
                  <%=wine.about%><hr>
                </p>
        </div>
      <%# </div>%>
    </div>

<%# END OF SEE DATA      %>
      <ul>
        <% for(let i = 0; i < wine.posts.length; i++) { %>
        <div class="winePosts">
          <li>

          <br>
          <p>Wino: <%=wine.posts[i].name%></p>
          <a href="/posts/<%=wine.posts[i].id%>">
          <img class="userImg" src="<%=wine.posts[i].image%>"/>
          </a>
          <p>
          <a href="/posts/<%=wine.posts[i].id%>">
          About this Wine:
          </a>
          <%=wine.posts[i].about%>
          </p>
          <a href="/posts/<%=wine.posts[i]._id%>/edit" class="btn btn-default" role="button">Edit Posts</a>
          <form action="/posts/<%=wine.posts[i]._id%>?_method=DELETE" method="POST">
          <input class="btn btn-default" role="button" type="submit" value="Delete Post">
          </form>
          </li>
          <% } %>
        </div>
        </ul>

      </section>

    </main>
    <% include ../partials/footer.ejs %>
  </body>
  </html>
